/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "twitter/bootstrap";

$header_color:#f9f9f9;
$site_height: 400px;

body { 
  padding-top: 60px; 
  background-image:image-url("black_lozenge.png");
  color:$header_color;
  font-family: 'Fenix', serif;
  font-weight: 400;
}
.content-div {
  background-color: $header_color;
  color: black;
  border-radius: 15px;
  border:2px solid black;
  padding: 15px;
  display:inline-block;
  height: $site_height;
  width: 92%;
}

.side-bar {
  background-color: $header_color;
  color: black;
  border-radius: 15px;
  border:2px solid black;
  padding: 15px;
  display:inline-block;
  height: $site_height;
  width: 100%;
}

.little-larger {
  font-size: 1.25em;
}

